. {
    align-content: center;
}

.content {
    position: relative;
    border: greenyellow 1px solid;
    height: 2000px;
}

.head {
    float: none;
    align-content: center;
    position: relative;
    height: auto;
    border: red 1px solid;
    text-align: center;
}

.menu {
    float: left;
    position: relative;
    height: 500px;
    border: red 1px solid;
}

.center {
    float: none;
    position: relative;
    /*float: left;*/
    height: 500px;
    border: red 1px solid;
}

.foot {
    float: none;
    position: relative;
    height: 200px;
    border: red 1px solid;
}

.user-info {
    position: relative;
    margin: 1% 20%;
    padding-left: 2%;
    align-content: center;
    text-align: left;
    border: red 1px solid;
}

.user-info ul {
    padding-left: 2%;
}

.user-info li {
    margin-left: 5%;
}

.btns {
    border: red 1px solid;
    margin: 1% 20%;
}