.text-input {

}
.text-input * {
    font-size: 1.2em;
 }

.text-input label {
    display: inline-block;
    text-align: right;
    border: solid red 1px;
    width: 25%;
    margin: 10px 10px;
}

.text-input input {
    display: inline-block;
    border: solid red 1px;
    width: 65%;
    margin: 10px 10px;
}

.text-input input::placeholder {
    color: darkgray;
}
