.submit-button {
    display: inline-block;
    font-size: 0.8em;
    margin: 10px 10px;
    padding: 5px 5px;
    height: 5%;
    width: 20%;
    background-color: #61dafb;
    border: none;
    color: blue;
}
